# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
example_app/.dart_tool/
example_app/.flutter-plugins
example_app/.flutter-plugins-dependencies
example_app/.packages
example_app/.pub-cache/
example_app/.pub/
example_app/build/
example_app/flutter/

# Web related
example_app/lib/generated_plugin_registrant.dart

# Symbolication related
example_app/app.*.symbols

# Obfuscation related
example_app/app.*.map.json

# Android Studio will place build artifacts here
example_app/android/app/debug
example_app/android/app/profile
example_app/android/app/release

# Local Netlify folder
.netlify
